Pillow==10.4.0
requests==2.32.3
python-magic==0.4.27
transformers==4.49.0
streamlit==1.32.2
tqdm==4.67.1
opencv-python==4.11.0.86
pdf2image==1.17.0
numpy==1.26.4
fitz==0.0.1.dev2
pymupdf==1.25.3
tools==0.1.9
frontend==0.0.3
langchain==0.3.21
langchain_community==0.3.20
chromadb==0.6.3